[Unit]
Description=Picast - A Simple Wireless Display Receiver on Raspberry Pi - Service
After=network.target
Require=network.target

[Service]
Type=simple
ExecStart=/home/pi/.local/bin/picast
RestartSec=5s

[Install]
WantedBy=multi-user.target
