[Unit]
Description=Picast - A Simple Wireless Display Receiver on Raspberry Pi - Service
After=network.target
Requires=network.target

[Service]
Type=simple
User=pi
ExecStartPre=/usr/sbin/logrotate --force /etc/logrotate.d/picast.logrotate
ExecStart=/home/pi/.local/bin/picast -c /home/pi/settings.ini
RestartSec=5s

[Install]
WantedBy=multi-user.target
